.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  min-width: 200px;
  border-radius: 100%;
}

.bio-textwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.bio-text {
  margin-bottom: var(--spacing-2);
  &:first-child {
    font-weight: bold;
    text-transform: uppercase;
  }
  &:last-child {
    margin-bottom: var(--spacing-0);
  }
}