/* Media queries */
@media (max-width: 42rem) {
    blockquote {
      padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
      margin-left: var(--spacing-0);
    }
    ul,
    ol {
      list-style-position: inside;
    }
  }
  