/* Media queries */
@mixin mobile-only {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}


@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

// full width bleed 
@mixin fullWidth() {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

// Centering content
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}


// visually hide content
@mixin visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

// helper mixins
%reset-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@mixin backgroundFade {
    transition: background-color 0.3s ease;
}
